In [66]:
#1
a = [1,2,3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [67]:
#2
class Gizmo:
  def __init__(self):
    print('Gizmo id: %d' % id(self))

In [68]:
x = Gizmo()

Gizmo id: 135894360139968

In [69]:
y = Gizmo()*10

Gizmo id: 135894360145728

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [70]:
dir()

['Bus',
 'Gizmo',
 'HauntedBus',
 'In',
 'Out',
 'TwilightBus',
 '_',
 '_1',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_20',
 '_21',
 '_28',
 '_29',
 '_31',
 '_32',
 '_33',
 '_35',
 '_36',
 '_38',
 '_39',
 '_41',
 '_42',
 '_43',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_51',
 '_53',
 '_54',
 '_56',
 '_57',
 '_62',
 '_63',
 '_65',
 '_66',
 '_7',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'a_set',
 'alex',
 'b',
 'basketball_team',
 'bus',
 'bus1',
 'bus2',
 'bus3',
 'bye',
 'c',
 'charles',
 'copy',
 'ender',
 'exit',
 'f',
 'get_ipython',
 'l1',
 'l2',
 'lewis',
 'quit',
 's2',
 't',
 't1',
 't2',
 'u',
 'weakref',
 'wref',
 'x',
 'y']

In [71]:
#3
charles ={'name': 'Charles L.Dodgson', 'born':1832}
lewis = charles

In [72]:
lewis is charles

True

In [73]:
id(charles), id(lewis)

(135894364397888, 135894364397888)

In [74]:
lewis['balance'] = 950
charles

{'name': 'Charles L.Dodgson', 'born': 1832, 'balance': 950}

In [75]:
#4
alex = {'name': 'Charles L.Dodgson', 'born':1832, 'balance':950}
alex == charles

True

In [76]:
alex is charles

False

In [77]:
#5
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [78]:
id(t1[-1])

135894357027840

In [79]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 135894357027840)

In [80]:
t1 == t2

False

In [81]:
#6
l1 = [3, [66,55,44], (7,8,9)]
l2 = list(l1)

In [82]:
l1.append(100)

In [83]:
l1[1].remove(55)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
l2: [3, [66, 44], (7, 8, 9)]

In [84]:
l2[1] += [33,22]
l2[2] += (10,11)
print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [87]:
#7
class Bus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [88]:
#8
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(135894360721008, 135894360137712, 135894360138672)

In [89]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [90]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(135894357115840, 135894357115840, 135894357244992)

In [91]:
#9
a = [10,20]
b = [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [92]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [93]:
#10
def f(a,b):
  a += b
  return a

In [94]:
a = [1,2]
b = [3,4]
f(a,b),(a, b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [95]:
x=1
y=2
f(x,y),(x, y)

(3, (1, 2))

In [99]:
t=(10,20)
u=(30,40)
f(t,u),(t, u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [100]:
#11
class HauntedBus:
  def __init__(self, passengers=[]):
    self.passengers = passengers
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [101]:
#12
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [102]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [103]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [104]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [105]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [106]:
bus2.passengers is bus3.passengers

True

In [109]:
bus1.passengers

['Bill', 'Charlie']

In [110]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [111]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [112]:
#13
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [113]:
#14
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [114]:
#15
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [115]:
#16
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [116]:
#17
import weakref
s1 = {1,2,3}
s2 = s1
def bye():
  print('Gone with the wind...')

In [117]:
ender = weakref.finalize(s1, bye)
ender.alive

True

In [118]:
del s1
ender.alive

True

In [119]:
s2 = 'spam'

In [120]:
ender.alive

False